* text=auto
/.travis/ export-ignore
/.github/ export-ignore
/Tests/ export-ignore
/.coveralls.yml export-ignore
/.gitattributes export-ignore
/.github_changelog_generator export-ignore
/.php_cs.dist export-ignore
/.scrutinizer.yml export-ignore
/.styleci.yml export-ignore
/.travis.yml export-ignore
/.phpunit.xml.dist export-ignore
