/.idea/
/.php_cs.cache
/.php-cs-fixer.cache
/.phpunit.result.cache
/bin/
/composer.lock
/composer.phar
/phpstan.neon
/phpunit.xml
/tests/Functional/app/public/media/cache
/tests/Functional/app/web/media/cache
/var/
/vendor/
