sudo: false

language: php

php:
  - 7.1
  - 7.2

cache:
  directories:
    - $HOME/.composer/cache/files

env:
  global:
    - SYMFONY_DEPRECATIONS_HELPER=weak
    - SYMFONY_VERSION=3.4.*

matrix:
  include:
    - env: SYMFONY_VERSION=4.0.*
  fast_finish: true

before_install:
  - bash ./.travis/exec-before.bash

install:
  - travis_retry composer require "symfony/symfony:${SYMFONY_VERSION}" $COMPOSER_FLAGS

script:
  - ./vendor/bin/simple-phpunit -vvv || ./vendor/bin/phpunit -vvv

after_script:
  - bash ./.travis/exec-after.bash