includes:
    - .phpstan/iterable_types_baseline.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    level: 6
    paths:
        - src
    treatPhpDocTypesAsCertain: false
    scanFiles:
        - .phpstan/stubs/AdapterInterface.stub
        - .phpstan/stubs/FilesystemInterface.stub
        - .phpstan/stubs/ReadInterface.stub
    dynamicConstantNames:
        - Symfony\Component\HttpKernel\Kernel::VERSION
    ignoreErrors:
        # Depending on aws sdk version, this method has 2 or 4 parameters. The extra parameters will just be ignored.
        # https://github.com/liip/LiipImagineBundle/issues/1457
        - '#^Method Aws\\S3\\S3Client::getObjectUrl\(\) invoked with 4 parameters, 2 required\.$#'
