includes:
    - .phpstan/baseline.neon
parameters:
    level: 1
    paths:
        - src
    scanFiles:
        - .phpstan/stubs/AdapterInterface.stub
        - .phpstan/stubs/Event.stub
        - .phpstan/stubs/ExtensionGuesserInterface.stub
        - .phpstan/stubs/FilesystemInterface.stub
        - .phpstan/stubs/MimeTypeGuesserInterface.stub
        - .phpstan/stubs/ReadInterface.stub
