<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" forceCoversAnnotation="true" bootstrap="./tests/bootstrap.php">
  <coverage>
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory>./src/Resources</directory>
    </exclude>
    <report>
      <clover outputFile="var/build/clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="liip/imagine-bundle test suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="intl.default_locale" value="en"/>
    <ini name="intl.error_level" value="0"/>
    <ini name="memory_limit" value="-1"/>
  </php>
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
  </listeners>
</phpunit>
