<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="Tests/bootstrap.php"
>

    <testsuites>
        <testsuite name="liip/imagine-bundle test suite">
            <directory suffix="Test.php">Tests</directory>
        </testsuite>
    </testsuites>
         
    <listeners>
        <listener class="\Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>     

    <php>
        <server name="KERNEL_CLASS" value="\AppKernel" />  
        <env name="SYMFONY_PHPUNIT_VERSION" value="6.0" />
        <ini name="error_reporting" value="-1" />
        <ini name="intl.default_locale" value="en" />
        <ini name="intl.error_level" value="0" />
        <ini name="memory_limit" value="-1" />
    </php>
</phpunit>
