parameters:
    ignoreErrors:
        - message: '#^Access to undefined constant static\(Liip\\ImagineBundle\\Config\\Filter\\Type\\FilterAbstract\)::NAME\.$#'
          paths:
              - ../src/Config/Filter/Type/FilterAbstract.php
